desktop/Converter/Converter/bin
desktop/Converter/Converter/obj
desktop/Converter/Converter/.vs

desktop/Converter/ConverterTests/bin
desktop/Converter/ConverterTests/obj
desktop/Converter/ConverterTests/.vs

desktop/Converter/ConverterWinWorms/bin
desktop/Converter/ConverterWinWorms/obj
desktop/Converter/ConverterWinWorms/Properties
desktop/Converter/ConverterWinWorms/.vs

desktop/ConverterFree

*.docx
*.odt
*.doc