@media only screen and (max-width: 767px) {
    html {
        font-size: 12px;
    }    

    main {
        margin-left: 5%;
        margin-right: 5%;        
    }

    .title {
        font-size: 32px;
        line-height: normal
    }
}