html {
    background-color: #333333;
    color: #EEEEEE;
    font-family: 'Garamond';
}

main {
    text-align: center;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: orange;
    transition-duration: 0.1s;
}

.text-right {
    text-align: right;
    margin-right: 5%;
}

.signature {
    font-family: "Brush Script MT", cursive;
    font-size: 24px;
}

.label {
    display: inline-block;
    cursor: pointer;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #2B579A;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 8px;
}

.image:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #444444;
    transition-duration: 0.5s;
}

.input {
    display: none; /* Hide the default input */
}

.block {
    text-align: center;
    margin: 20px auto;
}

.file-info {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
}

.err {
    color: red;
}

.parent {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.child {
    padding: 10px;    
}

.align-items-center {
    display: flex;
    align-items: center;
}